<form action="/posts/<%= @post.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <input id="name" type="text" name="name"></input>
  <input id="content" type="text" name="content"></input>
  <input id="submit" type="submit">
</form>
